<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap"
    rel="stylesheet">

  <link rel='stylesheet' href='/stylesheets/style.css' />

</head>

<body>


  <div style="width: 100%; height: auto; margin: 0 auto; position: relative; z-index: 3; 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;">
    <h1>
      Meet Zola. A new tool
      for self-discovery.
    </h1>
  </div>

  <p>
    Our AI understands and guides you through
    a journey of exploration to uncover your
    innermost beliefs and unlock your true potential.
  </p>

  <div style="height: max-content;">
    <a href="/verify-phone" class="btn">
      Get Started
    </a>
  </div>


  <div class="mobile-image" style="
  width: 100%;
    height: 415px;
    margin-top: 2em;
    position: relative;
    bottom: 0;
    z-index: 2;
    background: url(images/phone.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;">
    <!-- <img src="./images/phone.png" alt="" /> -->
  </div>

</body>

</html>