<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap"
    rel="stylesheet">

  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>


  <div style="width: 100%; height: auto; margin: 0 auto; position: relative; z-index: 3; 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;">
    <h1 style="font-weight: 500;">
      Sign up for Zola
    </h1>
  </div>

  <div class="card">
    <ul>
      <li class="active">􀇻 $4.99/week</li>
      <li>􀇻 2X cheaper than ChatGPT</li>
      <li>􀇻 100% completely private</li>
      <li>􀇻 Cancel Anytime</li>
    </ul>
  </div>

  <form action="/verify-phone" method="post">
    <a href="/soon" class="btn" style="display: flex !important;
    justify-content: center !important;
    align-items: center !important; padding: 0.75em 5em; font-weight: 700;"><strong class="dollar-sign">$</strong> 4.99/month</a>

    <span>􀎡 Powered by Stripe</span>
  </form>

</body>

</html>