<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap"
    rel="stylesheet">

  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>


  <div style="width: 100%; height: auto; margin: 0 auto; position: relative; z-index: 3; 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;">
    <h1 style="font-weight: 500;">
      You will receive access <br>
      to Zola soon!
    </h1>
  </div>

  <p style="font-size: 1.4em; line-height: 1.4em; margin: 0; font-weight: 400;">
    Come back here anytime <br>
    to contact us or change your <br>
    membership status!
  </p>

  <div style="margin-top: 1em;">
    <a href="#" class="btn-sec" style="padding: 0.75em 5em;">
      <img src="/images/mail.svg" alt="">
      Contact Us
    </a>

    <a href="#" class="btn-sec" style="padding: 0.75em 5em;">
      <img src="/images/cancel.svg" alt="">
      Cancel membership
    </a>
  </div>

</body>

</html>