<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap"
    rel="stylesheet">

  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>


  <div style="width: 100%; height: auto; margin: 0 auto; position: relative; z-index: 3; 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;">
    <h1 style="font-weight: 500;">
      Sign up for Zola
    </h1>
  </div>

  <div class="card">
    <ul>
      <li class="active">􀇻 $4.99/week</li>
      <li>􀇻 2X cheaper than ChatGPT</li>
      <li>􀇻 100% completely private</li>
      <li>􀇻 Cancel Anytime</li>
    </ul>
  </div>

  <button href="/soon" class="btn" id="checkout-button" type="submit" style="display: flex !important;
    justify-content: center !important;
    align-items: center !important; padding: 0.75em 5em; font-weight: 700;"><strong
      class="dollar-sign">$</strong>4.99/month</button>
  <span id="spany">􀎡 Powered by Stripe</span>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://js.stripe.com/v3/"></script>
  <script type="text/javascript" src="/javascript/account.js"></script>

  <script>
    let isIphone = window.navigator.userAgent.includes('iPhone')
    let linky = document.getElementById('checkout-button')
    let spany = document.getElementById('spany')
    if (isIphone) {
      linky.innerHTML = `<img src="/images/apple.svg" alt="apple" style="margin-right: 0.4em; scale: 0.9"> Pay`
      spany.innerHTML = `􀎡 Powered by Apple`
    }
  </script>

</body>

</html>